@import "tailwindcss";
@plugin "daisyui";

* {
    font-family: "poppins",sans-serif;
}

.cr{
    color:rgb(5, 133, 24)
}

.tc{
    color: #818181;
}
.topBG{
    color: #a64f4f ;
}
.bg{
    background-color: rgb(21, 229, 125);
}

.txc{
    color: rgb(255, 254, 252);
}